@model TheSharpFactory.Entity.MainDb.Media.Playlist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Playlist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaylistId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaylistId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaylistId }, new { @class = "btn btn-primary btn-lg" })
    <a asp-action="Index" class="btn btn-secondary btn-lg">Back to List</a>
</div>
