@model IEnumerable<TheSharpFactory.Entity.MainDb.Media.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>Artist List</h1>
<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ArtistId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.ArtistId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArtistId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArtistId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArtistId })
            </td>
            <td>
                @Html.ActionLink("Albums", "Index", "Albums", new { id = item.ArtistId }, new { @class = "text-success" })
            </td>
        </tr>
}
    </tbody>
</table>
